
<div class="o-wrapper u-space-all-3">

  <h1 class="u-h1">Overview</h1>



  {{#each items}}
    <div class="u-space-vert-2">
        <h3>
          <strong class="u-h2">{{id}}</strong>
          <p class="u-h">{{meta.title}}</p>
        </h3>

        <p><a href="{{url}}{{params}}">{{url}}{{params}}</a></p>
        
        {{>definition meta}}
        
        
        <iframe src="{{url}}{{params}}" width="500" height="100"></iframe>   
        <textarea cols=100 rows=1><link rel="stylesheet" href="{{url}}{{params}}"></textarea>
    </div>
  {{/each}}
  
</div>